{% extends 'main/base.html'%}
{% load crispy_forms_tags %}



{% block title %} Delete Current Task {% endblock title %}

{% block content %}

<h1 class="text-center text-danger mx-5 my-5"> {{ task.title }} - Are you sure? </h1>
<div class="contenier " >
  <div class="row ">
    <div class="col-md-6 offset-3">
        <form method="post">
            {% csrf_token %}                      

            <button type="submit" class="btn btn-danger"> Delete </button>
            <a href="{% url 'tasks-list'%}" class="btn btn-warning">No, go back</a>
        </form>
    </div>
  </div>
</div>

{% endblock content %}