{% extends 'main/base.html'%}


{% block title %} Product Page {% endblock title %}

{% block content %}

<div class="contenier my-5 mx-4">
  <div class="row">
    <h1 class="text-center text-danger my-5">All Products List</h1>
    {% for product in products %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="Bu yerda rasm bor">
            {% endif%}
            <div class="card-body">
              <h5 class="card-title text-center">{{ product.title }}</h5>
              <p class="card-text text-center">{{ product.price }} $</p>

              <div class="d-grid gap-2">
                <a href="{% url 'product_detail' product.pk %} " class="btn btn-primary">Batafsil</a>
              
              </div>
       
              
            </div>
          </div>
    </div>


    {%endfor%}
    {% include 'main/product.html' with page=products %}
    <div>
   
    </div>

   
  </div>
</div>

{% endblock content %}